@import '../../variables.scss';

.container {
  display: flex;
  flex-direction: column;
  background-color: $section-background;
  overflow-x: hidden;
  border-radius: 6px;

  .header {
    position: sticky;
    top: 0;
    background-color: inherit;
    font-weight: 500;
    font-size: 32px;
    color: #8D33FF;
    padding: 16px;
  }

  .subnav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding: 16px 0;

    .subnavSection {
      .subnavOption {
        background: none;
        text-decoration: none;
        border: none;
        color: inherit;
        font-style: inherit;
        font-size: inherit;
        -webkit-tap-highlight-color: transparent;
        cursor: pointer;
        user-select: none;
        display: block;
        box-sizing: border-box;
        width: 100%;
        padding: 8px 16px;
        text-align: left;

        &:hover {
          color: darken(#e2ccff, 30);
        }

        &:active {
          background-color: lighten(#e2ccff, 3);
        }
      }

      .selected {
        background-color: #e2ccff;
      }
    }
  }
}