.container {
  box-sizing: border-box;
  padding: 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;

  .header {
    font-size: large;
  }
}

.stockTable {
  tr {
    grid-template-columns: 5fr 9fr 32fr repeat(6, 9fr);
  }
}