@import '../../variables.scss';

.layout {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 8px;
}

.subnav_hide {
  grid-template-columns: 0 1fr;
  gap: 0;
}

.page {
  position: relative;
  background-color: $page-background;
  color: hsl(0, 0%, 25%);
  border-radius: 6px;
  overflow-y: overlay;
}