.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .navSection {
    display: flex;
    flex-direction: column;

    .navOption {
      display: flex;
      width: 100%;
      aspect-ratio: 1 / 1;
      padding: 0;
      margin: 0;
      border: none;
      outline: none;
      background: none;
      -webkit-tap-highlight-color: transparent;

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}